{% extends 'back/base.html.twig' %}

{% block title %}index Response{% endblock %}

{% block body %}
    <h1>Response index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Object</th>
                <th>Response</th>
                <th>Submited</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for response in responses %}
            <tr>
                <td>{{ response.id }}</td>
                <td>{{ response.object }}</td>
                <td>{{ response.response }}</td>
                <td>{{ response.submited ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_response_show', {'id': response.id}) }}">show</a>
                    {# <a href="{{ path('app_response_edit', {'id': response.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
