{% extends 'back/base.html.twig' %}

{% block title %}New Response{% endblock %}

{% block body %}
 <h1>Contact</h1>
 <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ contact.object }}</td>
            </tr>
            <tr>
                <th>EmailAdress</th>
                <td>{{ contact.emailAdress }}</td>
            </tr>
            <tr>
                <th>MobileNumber</th>
                <td>{{ contact.mobileNumber }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Response</h1>

    {{ include('back/response/_form.html.twig') }}

    <a href="{{ path('app_response_index') }}">back to list</a>
{% endblock %}
