{{ form_start(form) }}
    {{ form_widget(form) }}


   <ul> 
    {% for content in form.contents %}
    <li>
        {{ form_row(content) }}
    </li>
{% endfor %}
</ul>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
