<div class="col-lg-4  d-none d-lg-block">

    <div class="card mb-0 mt-2">
        <div class="card-header " style="    border-radius: 5px 5px 0 0;background-color:#1F487E; color:azure">
            <h5 class="card-title pt-1 pl-2">Les dernières nouvelles</h5>
        </div>
        <div class="card-body">
            <div class="list-group" style="padding-left:20px;padding-top:5px">
                {%  for item in contents.items  %}
                <a href="{{ path('front_content_show', {'id': item.id, 'slug': item.slug}) }}" class="list-group-item list-group-item-action flex-column align-items-start  list-group-item-adapter-first" style="padding-left: 0px;">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1 text-left " style="color:#454">{{ item.title }}</h6>
                    </div>
                    <small class="text-muted" style="text-align: left;float:left">{{ item.publishedDate ? item.publishedDate|date('d-m-Y') : '' }}</small>
                    <p class="mb-1 " style="color:#666;text-align: left;float:left;margin-left:0px">{{ item.intro}} </p>
                    <small style="text-align: left;float:left">En savoir plus...</small>
                </a>
                {% endfor %}

            </div>

        </div>
        <a href="{{ path('front_content_news') }}" class="card-button bg-light" > Toutes les Nouvelles</a>
        <!-- <div class="card-footer" style="border-top: 2px solid #004c99!important;float:right">
    <small class="text-muted" style="float:right"><a href="#">Toutes les Nouvelles</a></small>
  </div> -->
    </div>
</div>
