
<style>
    @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

    /* body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203)
} */

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0
    }

    ul>li {
        padding: 4px;
        /* color:#C5CAE9; */
    }

    ul>li:hover {
        color: #393a3c;
        cursor: pointer
    }

    hr {
        border-width: 3px
    }



    .social>i {
        padding: 1%;
        font-size: 15px
    }

    .social>i:hover {
        color: #393a3c    ;
        cursor: pointer
    }

    .policy>div {
        padding: 4px
    }

    .heading {
        font-family: 'Titillium Web', sans-serif;
        color: black
    }

    .divider {
        border-top: 2px solid
    }
</style>
</div>
<div class="container-fluid " style="background-color: #e0e0e0;">
    <div class="container">
        <!-- <div class="card bg-white mx-5"> -->
        <div class="row mb-4 pt-4">
            <div class="col-md-4 col-sm-11 col-xs-12">
                <div class="footer-text pull-left">
                    <div class="d-flex">
                        <!-- <h1 class="font-weight-bold mr-2 px-3" style="color:orange; background-color:darkgreen"> T </h1>
                        <h1 style="color: darkblue;font-weight:bold">RANSTU</h1>  -->
                        <img height="70" src="{{asset('assets/img/transtu_logo-bw.png')}}" />
                    </div>
                    <p class="card-text">
                    <ol class="list-unstyled">
                                <li>Adresse : <small>33 Avenue du Japon Montplaisir 1073 Tunis</small></li>
                                <li>Téléphone : <small>71 904 894 / 71 904 889 / 71 904 932</small></li>
                                <li>Fax : <small>71 904 883</small></li>
                                <li>Email : <a href="mailto:brc@transtu.tn"><ecoute class="clientele"></ecoute>ecoute.clientele@transtu.tn </a></li>
                    </ol>

                    <span class="social-ban">
			&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-sm btn-outline-primary btn-outline-danger-icon-f" style="border:2px solid #9a9a9a;color: #9a9a9a; ">
					<i class="bi bi-facebook rs-icon-facebook" style="font-size:16px! important;"></i>
				</button>
				&nbsp;&nbsp;
				<button type="button" class="btn btn-sm btn-outline-danger btn-outline-danger-icon" style="border:2px solid #9a9a9a;color: #9a9a9a;">
					<i class="bi bi-youtube rs-icon-youtube" style="font-size:16px! important; "></i>
				</button>
				&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-outline-primary btn-outline-danger-icon-f" style="border:2px solid #9a9a9a;color: #9a9a9a;">
					<i class="bi bi-twitter rs-icon-youtube" style="font-size:16px! important; "></i>
				</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


			</span>
                          <!-- Facebook -->
                            <!-- <i class="social-icon fab fa-facebook-f"></i> -->
                            <!-- Twitter -->
                            <!-- <i class="social-icon fab fa-twitter"></i> -->
                            <!-- Google -->
                            <!-- <i class="social-icon fab fa-google"></i> -->
                            <!-- Youtube -->
                            <!-- <i class="social-icon fab fa-youtube"></i> -->

                    </p>
                    <!-- <div class="social mt-2 mb-3"> <i class="fa fa-facebook-official fa-lg"></i> <i class="fa fa-instagram fa-lg"></i> <i class="fa fa-twitter fa-lg"></i> <i class="fa fa-linkedin-square fa-lg"></i> <i class="fa fa-facebook"></i> </div> -->
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12"></div>
            {% for sub_menu in menus %}
            {% if sub_menu.emplacement == 'level_two' %}
            <div class="col-md-2 col-sm-4 col-xs-12">
                <h5 class="heading">{{ sub_menu.label | capitalize }}</h5>

                <ul class="card-text">
                    {% endif %}
                    {% for menu in sub_menu.menus %}
                        {% if menu.content %}
                    <li><a href="{{ path('front_content_show', {'id': menu.content.article.num, 'slug': menu.content.slug}) }}" class=" ">{{ menu.label | capitalize }}</a> </li>
                   {% else %}
                       <li><a href="{{ path(menu.route) }}" class=" ">{{ menu.label | capitalize }}</a> </li>
                   {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

        </div>
        <div class="divider mb-4"> </div>
        <div class="row" style="font-size:12px;color:#393a3c">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pull-left">
                    <p><i class="fa fa-copyright"></i> 2022 TRANSTU Tunisie</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pull-right  d-flex policy" >
                    <p>Site Web développé par TRANSTU</p>
                    <!-- <div>Privacy Policy</div>
                    <div>Cookie Policy</div> -->
                </div>
            </div>
        </div>

        <!-- </div> -->
    </div>
</div>
