{% set routes = app.session.get('permession_routes') %}
{% set profile_scopes = app.session.get('profile_scopes') %}

<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html"
             data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">

                <ul class="nav nav-main">
                    <li>
                        <a class="nav-link" href="#">
                            <i class="bx bx-home-alt" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    {% if routes.app_content_index is defined %}
                        <li class="nav-parent">
                            <a class="nav-link" href="#">
                                {# <span class="float-end badge badge-primary">182</span> #}
                                {# <i class="bx bx-envelope" aria-hidden="true"></i> #}
                                <i class="bx bx-cart-alt" aria-hidden="true"></i>
                                <span>Rubriques</span>
                            </a>
                            <ul class="nav nav-children">
                                {% if routes.app_content_index is defined %}
                                    {% for  profile_scope in profile_scopes %}
                                        <li>
                                            <a class="nav-link" href="{{ path('app_content_index', {'scope': profile_scope.scope.id}) }}">
                                                {{ profile_scope.scope.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}

                            </ul>
                        </li>
                    {% endif %}

                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
                            <span>Ecoute Clientèle</span>
                        </a>
                        <ul class="nav nav-children">
                            {% if routes.app_contact_index is defined %}
                                <li>
                                    <a class="nav-link" href="{{ path('app_contact_index') }}">
                                        Contact
                                    </a>
                                </li>
                            {% endif %}
                            {% if routes.app_content_index is defined %}
                                <li>
                                    <a class="nav-link" href="{{ path('app_content_index') }}">
                                        Réclamation
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
                            <span>TimeLine</span>
                        </a>
                        <ul class="nav nav-children">
                            {% if routes.app_time_line_all_news is defined %}
                                <li>
                                    <a class="nav-link" href="{{ path('app_time_line_all_news') }}">
                                        Actualité
                                    </a>
                                </li>
                            {% endif %}
                            {% if routes.app_content_index is defined %}
                                <li>
                                    <a class="nav-link" href="{{ path('app_content_index') }}">
                                        Historique Transport collectif
                                    </a>
                                </li>
                            {% endif %}
                            {% if routes.app_content_index is defined %}
                                <li>
                                    <a class="nav-link" href="{{ path('app_content_index') }}">
                                        Historique Identités visuelles
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>

                    {% if routes.app_menu_index is defined %}
                        <li>
                            <a class="nav-link" href="{{ path('app_menu_index') }}">
                                <i class="bx bx-home-alt" aria-hidden="true"></i>
                                <span>Gestion des menus</span>
                            </a>
                        </li>
                    {% endif %}
                    {#     {% if app.user.profil.alias == 'SUPER_USER' %} #}
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-cart-alt" aria-hidden="true"></i>
                            <span>Administration</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{{ path('app_section_index') }}">
                                    Gestion des modules
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('action_index') }}">
                                    Gestion des taches
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_category_index') }}">
                                    Gestion des Catégories
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_admin_index') }}">
                                    Gestion des utilisateurs
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{{ path('app_profile_index') }}">
                                    Gestion des profils
                                </a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </nav>

            <hr class="separator"/>

            <hr class="separator"/>

            <div class="sidebar-widget widget-stats">

                <div class="widget-content">
                    <ul>
                        {# <li>
				                            <span class="stats-title">Stat 1</span>
				                            <span class="stats-complete">85%</span>
				                            <div class="progress">
				                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
				                                    <span class="sr-only">85% Complete</span>
				                                </div>
				                            </div>
				                        </li> #}

                    </ul>
                </div>
            </div>
        </div>

        <script>
            // Maintain Scroll Position
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>

    </div>

</aside>
